| [
!= JSON.stringify(records.books_with_options_1)
| ,
!= JSON.stringify(records.books_with_options_2)
| ,
!= JSON.stringify(records.books_with_options_3)
| ,
!= JSON.stringify(records.books_with_options_4)
| ,
!= JSON.stringify(records.books_with_options_5)
| ]
